.contador{
  margin-top: 5vh;
    display: flex;
    justify-content: center;
    font-size: 10vh;
    font-weight: bolder;
    flex-direction: column;
    font-family: 'Nunito-Black';
    margin-bottom: 5vh;
  }
  .contadorP{
    margin: 0;
    text-align: center;
    color: #afa;
    -webkit-text-stroke: 0.3vh rgb(0, 0, 0);
  }